<div class="relative" data-controller="dropdown" data-action="click@window->dropdown#hide">
    <button popovertarget="dropdown-{{ item.id }}" data-dropdown-target="button" data-action="click->dropdown#toggle"
        class="inline-flex items-center gap-x-1 rounded-md px-3 py-2 text-sm font-medium cursor-pointer {{ item.isActive ? 'bg-gray-900 text-white dark:bg-gray-950/50' : 'text-gray-300 hover:bg-white/5 hover:text-white' }}">
        <span>{{ item.label }}</span>
        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
            class="size-5 transition-transform duration-200" data-dropdown-target="icon">
            <path
                d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd" fill-rule="evenodd" />
        </svg>
    </button>

    <div data-dropdown-target="menu" id="dropdown-{{ item.id }}"
        class="hidden absolute left-0 z-10 mt-2 w-56 origin-top-left rounded-xl bg-white p-4 text-sm/6 font-semibold text-gray-900 shadow-lg outline-1 outline-gray-900/5 dark:bg-gray-800 dark:text-white dark:shadow-none dark:outline dark:-outline-offset-1 dark:outline-white/10">
        {% for subitem in item.items %}
        <a href="{{ subitem.url }}"
            class="block p-2 rounded-lg hover:bg-gray-50 hover:text-indigo-600 dark:hover:bg-white/5 dark:hover:text-indigo-400 {{ subitem.isActive ? 'text-indigo-600 dark:text-indigo-400' : '' }}">
            {{ subitem.label }}
        </a>
        {% endfor %}
    </div>
</div>